#Christmas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 3vw;
}

body {
  background-color: #81FFF6;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Calender {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.Calender img {
  width: 40%;
}

.text {
  position: absolute;
  margin: auto;
  top: 50%;
  font-size: 1vw;
  margin-top: -50px;
}

.Snow {
  border-radius: 50%;
  opacity: 0.8;
  width: 1.5rem;
  height: 1.5rem;
  -webkit-box-shadow: 58.5vw 98vh 0 -0.18rem#fff,33.3vw 30vh 0 -0.2rem#fff,2vw 90.9vh 0 -0.16rem#fff,13.9vw 89.2vh 0 -0.34rem#fff,90.5vw 8.4vh 0 -0.13rem#fff,21.9vw 11.2vh 0 -0.12rem#fff,17.7vw 89.7vh 0 -0.21rem#fff,19.2vw 56.8vh 0 -0.3rem#fff,43.1vw 65.2vh 0 -0.49rem#fff,43.1vw 76.1vh 0 -0.2rem#fff,43.1vw 78.3vh 0 -0.18rem#fff,56vw 51.9vh 0 -0.09rem#fff,10.9vw 90.5vh 0 -0.03rem#fff,51vw 62.4vh 0 -0.21rem#fff,2.5vw 27.4vh 0 -0.31rem#fff,78.8vw 39.3vh 0 -0.1rem#fff,36.2vw 44.6vh 0 -0.28rem#fff,1.4vw 39.5vh 0 -0.03rem#fff,76.8vw 11.2vh 0 -0.32rem#fff,35vw 98.1vh 0 -0.43rem#fff,94.1vw 92.4vh 0 -0.38rem#fff,6.4vw 48.6vh 0 -0.33rem#fff,76.4vw 50.9vh 0 -0.18rem#fff,45.3vw 94.3vh 0 -0.34rem#fff,30.6vw 83.6vh 0 -0.31rem#fff,30.4vw 32.5vh 0 -0.07rem#fff,77.5vw 1.8vh 0 -0.27rem#fff,17.3vw 35.9vh 0 -0.24rem#fff,6.2vw 9.4vh 0 -0.43rem#fff,69.7vw 88.3vh 0 -0.24rem#fff,42.4vw 34.2vh 0 -0.19rem#fff,67vw 22.6vh 0 -0.08rem#fff,19.5vw 78.7vh 0 -0.13rem#fff,77vw 28.7vh 0 -0.28rem#fff,78.3vw 13.7vh 0 -0.14rem#fff,79.7vw 90.8vh 0 -0.13rem#fff,52.6vw 62.8vh 0 -0.19rem#fff,54.1vw 5.8vh 0 -0.42rem#fff,96.2vw 42.8vh 0 -0.01rem#fff,42vw 82.5vh 0 -0.1rem#fff,41.4vw 25.2vh 0 -0.23rem#fff,77.4vw 65.4vh 0 -0.04rem#fff,7.1vw 24.4vh 0 -0.12rem#fff,96.5vw 53.7vh 0 -0.12rem#fff,56.4vw 31vh 0 -0.27rem#fff,49.9vw 88.6vh 0 -0.19rem#fff,97vw 62.9vh 0 -0.16rem#fff,64.6vw 91.3vh 0 -0.31rem#fff,25.6vw 90.1vh 0 -0.21rem#fff,77vw 94vh 0 -0.13rem#fff,0.8vw 88.6vh 0 -0.21rem#fff,71vw 15.3vh 0 -0.27rem#fff,67.8vw 53.7vh 0 -0.49rem#fff,75.3vw 35.4vh 0 -0.02rem#fff,91.5vw 18vh 0 -0.48rem#fff,55vw 85vh 0 -0.16rem#fff,6.6vw 16.7vh 0 -0.27rem#fff,40.4vw 76.4vh 0 -0.44rem#fff,94.6vw 24.4vh 0 -0.27rem#fff,41.1vw 78.4vh 0 -0.18rem#fff,4.2vw 62.8vh 0 -0.47rem#fff,43.4vw 67.1vh 0 -0.15rem#fff,70.2vw 26.5vh 0 -0.21rem#fff,86.8vw 39.1vh 0 -0.26rem#fff,79.6vw 55.2vh 0 -0.08rem#fff,12.1vw 93vh 0 -0.22rem#fff,12.9vw 18.7vh 0 -0.21rem#fff,72.2vw 29.9vh 0 -0.06rem#fff,99vw 29.7vh 0 -0.35rem#fff,77.8vw 20.1vh 0 -0.11rem#fff,21.6vw 57.3vh 0 -0.23rem#fff,26.8vw 81.1vh 0 -0.17rem#fff,37.2vw 78.7vh 0 -0.06rem#fff,10.1vw 63.5vh 0 -0.09rem#fff,49.3vw 7.4vh 0 -0.11rem#fff,32.1vw 76.1vh 0 -0.4rem#fff,56.8vw 59.3vh 0 -0.11rem#fff,69.3vw 20.5vh 0 -0.17rem#fff,96.5vw 82vh 0 -0.34rem#fff,34.8vw 16vh 0 -0.26rem#fff,38.5vw 74.1vh 0 -0.3rem#fff,48.3vw 84vh 0 -0.45rem#fff,95.2vw 56.6vh 0 -0.26rem#fff,71.7vw 87.7vh 0 -0.11rem#fff,77.3vw 71.4vh 0 -0.35rem#fff,46.4vw 23.4vh 0 -0.44rem#fff,16.7vw 44.2vh 0 -0.38rem#fff,23.2vw 4vh 0 -0.3rem#fff,33.1vw 52.5vh 0 -0.03rem#fff,54.2vw 20.9vh 0 -0.05rem#fff,79.1vw 58.7vh 0 -0.07rem#fff,93.3vw 34.4vh 0 -0.18rem#fff,54.6vw 58.7vh 0 -0.21rem#fff,39.4vw 94.8vh 0 -0.39rem#fff,61.4vw 40vh 0 -0.13rem#fff,60.4vw 56.9vh 0 -0.29rem#fff,39.7vw 0.1vh 0 -0.25rem#fff,6.6vw 85.1vh 0 -0.33rem#fff,0.3vw 18.8vh 0 -0.12rem#fff,47.7vw 60.7vh 0 -0.36rem#fff;
          box-shadow: 58.5vw 98vh 0 -0.18rem#fff,33.3vw 30vh 0 -0.2rem#fff,2vw 90.9vh 0 -0.16rem#fff,13.9vw 89.2vh 0 -0.34rem#fff,90.5vw 8.4vh 0 -0.13rem#fff,21.9vw 11.2vh 0 -0.12rem#fff,17.7vw 89.7vh 0 -0.21rem#fff,19.2vw 56.8vh 0 -0.3rem#fff,43.1vw 65.2vh 0 -0.49rem#fff,43.1vw 76.1vh 0 -0.2rem#fff,43.1vw 78.3vh 0 -0.18rem#fff,56vw 51.9vh 0 -0.09rem#fff,10.9vw 90.5vh 0 -0.03rem#fff,51vw 62.4vh 0 -0.21rem#fff,2.5vw 27.4vh 0 -0.31rem#fff,78.8vw 39.3vh 0 -0.1rem#fff,36.2vw 44.6vh 0 -0.28rem#fff,1.4vw 39.5vh 0 -0.03rem#fff,76.8vw 11.2vh 0 -0.32rem#fff,35vw 98.1vh 0 -0.43rem#fff,94.1vw 92.4vh 0 -0.38rem#fff,6.4vw 48.6vh 0 -0.33rem#fff,76.4vw 50.9vh 0 -0.18rem#fff,45.3vw 94.3vh 0 -0.34rem#fff,30.6vw 83.6vh 0 -0.31rem#fff,30.4vw 32.5vh 0 -0.07rem#fff,77.5vw 1.8vh 0 -0.27rem#fff,17.3vw 35.9vh 0 -0.24rem#fff,6.2vw 9.4vh 0 -0.43rem#fff,69.7vw 88.3vh 0 -0.24rem#fff,42.4vw 34.2vh 0 -0.19rem#fff,67vw 22.6vh 0 -0.08rem#fff,19.5vw 78.7vh 0 -0.13rem#fff,77vw 28.7vh 0 -0.28rem#fff,78.3vw 13.7vh 0 -0.14rem#fff,79.7vw 90.8vh 0 -0.13rem#fff,52.6vw 62.8vh 0 -0.19rem#fff,54.1vw 5.8vh 0 -0.42rem#fff,96.2vw 42.8vh 0 -0.01rem#fff,42vw 82.5vh 0 -0.1rem#fff,41.4vw 25.2vh 0 -0.23rem#fff,77.4vw 65.4vh 0 -0.04rem#fff,7.1vw 24.4vh 0 -0.12rem#fff,96.5vw 53.7vh 0 -0.12rem#fff,56.4vw 31vh 0 -0.27rem#fff,49.9vw 88.6vh 0 -0.19rem#fff,97vw 62.9vh 0 -0.16rem#fff,64.6vw 91.3vh 0 -0.31rem#fff,25.6vw 90.1vh 0 -0.21rem#fff,77vw 94vh 0 -0.13rem#fff,0.8vw 88.6vh 0 -0.21rem#fff,71vw 15.3vh 0 -0.27rem#fff,67.8vw 53.7vh 0 -0.49rem#fff,75.3vw 35.4vh 0 -0.02rem#fff,91.5vw 18vh 0 -0.48rem#fff,55vw 85vh 0 -0.16rem#fff,6.6vw 16.7vh 0 -0.27rem#fff,40.4vw 76.4vh 0 -0.44rem#fff,94.6vw 24.4vh 0 -0.27rem#fff,41.1vw 78.4vh 0 -0.18rem#fff,4.2vw 62.8vh 0 -0.47rem#fff,43.4vw 67.1vh 0 -0.15rem#fff,70.2vw 26.5vh 0 -0.21rem#fff,86.8vw 39.1vh 0 -0.26rem#fff,79.6vw 55.2vh 0 -0.08rem#fff,12.1vw 93vh 0 -0.22rem#fff,12.9vw 18.7vh 0 -0.21rem#fff,72.2vw 29.9vh 0 -0.06rem#fff,99vw 29.7vh 0 -0.35rem#fff,77.8vw 20.1vh 0 -0.11rem#fff,21.6vw 57.3vh 0 -0.23rem#fff,26.8vw 81.1vh 0 -0.17rem#fff,37.2vw 78.7vh 0 -0.06rem#fff,10.1vw 63.5vh 0 -0.09rem#fff,49.3vw 7.4vh 0 -0.11rem#fff,32.1vw 76.1vh 0 -0.4rem#fff,56.8vw 59.3vh 0 -0.11rem#fff,69.3vw 20.5vh 0 -0.17rem#fff,96.5vw 82vh 0 -0.34rem#fff,34.8vw 16vh 0 -0.26rem#fff,38.5vw 74.1vh 0 -0.3rem#fff,48.3vw 84vh 0 -0.45rem#fff,95.2vw 56.6vh 0 -0.26rem#fff,71.7vw 87.7vh 0 -0.11rem#fff,77.3vw 71.4vh 0 -0.35rem#fff,46.4vw 23.4vh 0 -0.44rem#fff,16.7vw 44.2vh 0 -0.38rem#fff,23.2vw 4vh 0 -0.3rem#fff,33.1vw 52.5vh 0 -0.03rem#fff,54.2vw 20.9vh 0 -0.05rem#fff,79.1vw 58.7vh 0 -0.07rem#fff,93.3vw 34.4vh 0 -0.18rem#fff,54.6vw 58.7vh 0 -0.21rem#fff,39.4vw 94.8vh 0 -0.39rem#fff,61.4vw 40vh 0 -0.13rem#fff,60.4vw 56.9vh 0 -0.29rem#fff,39.7vw 0.1vh 0 -0.25rem#fff,6.6vw 85.1vh 0 -0.33rem#fff,0.3vw 18.8vh 0 -0.12rem#fff,47.7vw 60.7vh 0 -0.36rem#fff;
  position: fixed;
  top: -100vh;
  -webkit-animation-name: fall;
          animation-name: fall;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
}

.Snow.a {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
}

@-webkit-keyframes fall {
  100% {
    -webkit-transform: translateY(200vh);
            transform: translateY(200vh);
  }
}

@keyframes fall {
  100% {
    -webkit-transform: translateY(200vh);
            transform: translateY(200vh);
  }
}

@media only screen and (max-width: 1000px) {
  #Christmas {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 7vw;
  }
  .Calender img {
    width: 70%;
  }
  .text {
    position: absolute;
    margin: auto;
    top: 50%;
    font-size: 2vw;
    margin-top: -50px;
  }
}
/*# sourceMappingURL=main.css.map */